// An HTML/CSS/JS version of the Rolex GMT-Master II
// The red GMT hand marks the time in a second timezone - you can set it at the top of `rolex.js`

//  Done:
//   ✅  Fix dial image & transparent cyclops
//   ✅  Make date dynamic
//
//  Todo:
//   ☐  Allow user to change timezone
//

// By Joan Gamell
// https://github.com/gamell/rolex-gmt-ii
// http://gamell.io

head
  title Rolex GMT-Master II

body
  #background
    #dial
      #date
      #hour-hand.hand
      #gmt-hand.hand
      #minute-hand.hand
      #second-hand.hand
      #cyclops
