// An HTML/CSS/JS version of the Rolex GMT-II
// The red GMT hand marks the time in a second timezone - you can set it at the top of the JS code

//  Done:
//   ✅  Fix dial image & transparent cyclops
//   ✅  Make date dynamic
//
//  Todo:
//   ☐  Allow user to change timezone
//

// By Joan Gamell
// http://gamell.io

body
  #background
    #dial
      #date
      #hour-hand.hand
      #gmt-hand.hand
      #minute-hand.hand
      #second-hand.hand
      #cyclops
